.write-link {
  &.attach {
    &:before {
      display: inline-block;
      float: left;
      width: 20px;
      height: 42px;
      content: '';
      background-image: url('https://s1.postimg.org/s5gfy283f/attachemnt.png');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &.disabled {
    pointer-events: none;
  }
}
input[type=file] {
  display: none;
}
