<div class="chat-container">

  <toaster-container [toasterconfig]="toasterConfig"></toaster-container>

  <div class="wrapper">
    <div class="container">
      <div class="left">
        <div class="top">
          <input type="text"
                 placeholder="Поиск клиента"
                 [formControl]="freeChatsSearchQuery">
          <a href="javascript:;"
             class="search"
             (click)="freeChatsSearchQuery.reset()"></a>
        </div>

        <p *ngIf="freeChatsSearchQuery.value && freeChats?.chats.length < 1"
           class="info-text">
          По заданному поисковому запросу чатов не найдено.
          Измените поисковый запрос.
        </p>

        <app-client-queue [queue]="freeChats"
                          [currentChat]="chat"
                          (onSelectChat)="onSelectChat($event)"></app-client-queue>

      </div>
      <div class="right">
        <div class="top">
          <span *ngIf="chat">
            Клиент:
            <span class="name">
              {{ chat.author.fullname }}
            </span>

            <button class="button"
                    *ngIf="canReleaseClent(chat)"
                    (click)="onRelease()">Отпустить клиента</button>

          </span>
        </div>

        <div class="chat"
             style="display: block"
             *ngIf="chat"
             #messagesContainer>
          <div class="conversation-start">
            <span>{{ chat.messages[0].datetime.format('dddd, MMMM YYYY') }}</span>
          </div>
          <div class="bubble"
               [ngClass]="{'you': !message.author.operatorId, 'me': message.author.operatorId, 'alpha': !message.id}"
               *ngFor="let message of chat.messages">
            {{ message.text }}
            <span class="chat-line-time">{{ message.datetime | date:'hh:mm' }}</span>
          </div>
        </div>

        <div class="write">
          <a href="javascript:;" class="write-link attach"></a>
          <input type="text"
                 #text
                 placeholder="Введите сообщение"
                 rows="2"
                 (keydown.enter)="onSendMessage(text.value);text.value = '';false"
                 [disabled]="!chat">
          <!--<a href="javascript:;" class="write-link smiley"></a>-->
          <a href="javascript:;"
             class="write-link send"
             [class.disabled]="!chat"
             (click)="onSendMessage(text.value);text.value = ''"></a>
        </div>

      </div>
      <div class="left" style="border-left: none">
        <div class="top">
          Текущие диалоги
        </div>

        <app-client-queue [queue]="myChats"
                          [currentChat]="chat"
                          (onSelectChat)="onSelectChat($event)"></app-client-queue>

      </div>
    </div>
  </div>
</div>
