<div class="chat-container">
  <div class="wrapper">
    <div class="container">
      <div class="left">
        <div class="top">
          <input type="text" />
          <a href="javascript:;" class="search"></a>
        </div>

        <app-client-queue ($clientOpen)="$startClientChat($event)"></app-client-queue>

      </div>
      <div class="right">
        <div class="top">
          <span>
            To:
            <span class="name">
              Dog Woofson
            </span>
          </span>
        </div>
        <div class="chat" style="display: block">
          <div class="conversation-start">
            <span>Monday, 1:27 PM</span>
          </div>
          <!--<div class="bubble"-->
               <!--[ngClass]="{'you': ci.opId, 'me': !ci.opId}"-->
               <!--*ngFor="let ci of discussion.$history">-->
            <!--So, how's your new phone?-->
          <!--</div>-->
          <div class="bubble you">
            You finally have a smartphone :D
          </div>
          <div class="bubble me">
            Drake?
          </div>
          <div class="bubble me">
            Why aren't you answering?
          </div>
          <div class="bubble you">
            howdoyoudoaspace
          </div>
        </div>

        <div class="write">
          <a href="javascript:;" class="write-link attach"></a>
          <input type="text" />
          <a href="javascript:;" class="write-link smiley"></a>
          <a href="javascript:;" class="write-link send"></a>
        </div>
      </div>
      <div class="left" style="border-left: none">
        <div class="top">
          Текущие диалоги
        </div>

        <app-client-queue ($clientOpen)="$startClientChat($event)"></app-client-queue>

      </div>
    </div>
  </div>
</div>
