/* You can add global styles to this file, and also import other style files */

/* FIXES */
.form-control:disabled {
    color: #a4abb3 !important;
}

.form-control:focus {
    box-shadow: unset !important;
}

:root {
    --chat-client: #4b4b4b;
    --chat-op: #4b4b4b;
}