// import Nebular Theme System and the default theme
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

// and change some variables inside of the map
$nb-themes: nb-register-theme((

  tabs-selected: color-fg-text,
  form-control-selected-border-color: color-primary,
  card-header-bg: ghostwhite,
  card-shadow: unset,
  header-shadow: unset,
  layout-bg: color-fg-text,
), default, default); // let's leave it as default
