#client-chat-card {
    width: 40%;
    padding: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    height: 70vh;
}

#client-chat-panel {
    overflow-y: auto;
    height: 100%;
}
.client-chat-card-field {
    padding: 1em;
    width: 100%;
}

  