<nb-layout>
    <nb-layout-header fixed>
        <toaster-container [toasterconfig]="$toasterconfig"></toaster-container>        
        <div id="op-header">
            <div>
                LOGO
            </div>
            <div id="op-header-exit">
                <nb-actions size="large">
                    <nb-action (click)='$profileClick()'>
                        <i class="nb-email"></i><span class="icontext">Профиль</span>
                    </nb-action>
                    <nb-action (click)='$profileClick()'>
                        <i class="fa fa-cogs"></i><span class="icontext">Управление</span>
                    </nb-action>
                </nb-actions>
                <button class="btn btn-outline-danger btn-with-icon" type="submit" (click)='$logout()'>
                    <i class="fa fa-sign-out"></i>
                    <span>Выйти</span>
                </button>
            </div>
        </div>        
    </nb-layout-header>
    <nb-layout-column>
        <div class="row">
            <div class="col-lg-3">
                <nb-card>
                    <chat-client-queue ($clientOpen)="$startClientChat($event)"></chat-client-queue>
                    <nb-card-footer></nb-card-footer>
                </nb-card>
            </div>
            <div class="col-lg-6" *ngIf="$discussions.length == 0">
                <nb-card>
                    <nb-card-header>
                        <span *ngIf="$connecting == 0" style="margin-left: 0.5rem;">Отсоединено</span>
                        <img *ngIf="$connecting == 1" style="width:1rem; height:1rem; float:left;" src="/assets/loading4.gif" />
                        <span *ngIf="$connecting == 1" style="margin-left: 0.5rem;">Соединяемся..</span>
                    </nb-card-header>
                    <nb-card-body>Выберите клиента из очереди. Тут появится чат</nb-card-body>
                </nb-card>
            </div>
            <div class="col-lg-6" *ngIf="$discussions.length > 0">
                <nb-card>
                    <nb-tabset>
                        <nb-tab *ngFor="let d of $discussions" [tabTitle]="d.clientDesc.fio | fioPipeSimple" style="padding: 1.25rem;">
                            <ul class="chat-lines" id="{{d.clientID}}">
                                <li *ngFor="let ci of d.$history" [class.chat-line-fromop]="ci.opId" [class.noack]="ci.id == null || ci.id &lt; 0">
                                    <span *ngIf="!ci.opId" class="chat-line-avatar-op"></span>
                                    <div>
                                        <p>
                                            {{ci.text | capitalize }}
                                        </p>
                                        <span class="chat-line-time">{{ci.at | timeformat }}</span>
                                    </div>
                                </li>
                            </ul> 
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Введите текст" rows="2" 
                                    (keydown.enter)="$onSendClick(d);false" [(ngModel)]="d.$text"></textarea>
                            </div>
                            <div class="form-group pushout">
                                <button class="btn btn-outline-warning" type="submit" (click)='$release(d)' [disabled]="$connecting != 2">Отпустить клиента</button>
                                <button class="btn btn-outline-primary" type="submit" (click)='$onSendClick(d)' [disabled]="$connecting != 2">Отправить</button>
                            </div>
                        </nb-tab>
                    </nb-tabset>
                </nb-card>
            </div>
            <div class="col-lg-3">
                <nb-card>
                    <nb-card-header>О клиенте</nb-card-header>
                    <nb-card-body>
                            <div *ngIf="$currentClientID">
                                <div>
                                {{$clientDescCache[$currentClientID].fio.fn}}
                                </div>
                                <div>
                                {{$clientDescCache[$currentClientID].fio.sn}}
                                </div>
                                <div>
                                    {{$clientDescCache[$currentClientID].fio.ln}}                                
                                </div>
                                <div>
                                    {{$clientDescCache[$currentClientID].email}}
                                </div>
                                <div>
                                    {{$clientDescCache[$currentClientID].phone}}
                                </div>
                                <div>
                                    <span *ngFor="let tag of $clientDescCache[$currentClientID].tags">
                                        #{{tag}}
                                    </span>
                                </div>
                            </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>