<!--
<section class="mat-typography">
    <mat-card id="chat-card">
        <mat-card-header>
            <mat-card-title><h1>ЧАТ</h1></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            
            <mat-grid-list cols="4" rowHeight="140">
                <mat-grid-tile rowspan="4">
                    <mat-card style="height: 90%; padding: 1em;">
                        <mat-card-header>
                            Клиенты 

                        </mat-card-header>
                        <mat-card-content style="height: 95%; overflow: scroll;">
                            <chat-client-queue id="op-chat-queue" style="width: 100%;" ($clientOpen)="$startClientChat($event)">
                        </chat-client-queue>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="4">
                        <mat-card style="height: 90%; padding: 1em; width: calc(100% - 20px); margin-left:0.5em; margin-right: 0.5em;">
                            <mat-tab-group>
                                <mat-tab *ngFor="let d of $discussions" [label]="d.userid">
                                    <ng-template mat-tab-label>
                                        <span>{{d.clientID}}</span>
                                    </ng-template>
                                    <ul id="chat-lines">
                                            <li *ngFor="let ci of d.$history" class="chat-item" [ngClass]="{'chat-item-client':ci.opId}">
                                                <span *ngIf="!ci.opId" class="chat-avatar-client"></span>
                                                <div>
                                                    <p class="chat-client-text"
                                                        [ngClass]="{'chat-color-op':!ci.opId, 'chat-color-client':ci.opId}">
                        
                                                        {{ci.text}}</p>
                                                    <span class="chat-client-at">{{ci.at}}</span>
                                                </div> 
                                                <span *ngIf="ci.opId" class="chat-avatar-op"></span>
                                            </li>
                                    </ul>
                                    <mat-form-field>
                                        <textarea id="text-area" matInput [(ngModel)]="$text" placeholder="Введите сообщение.."></textarea>
                                    </mat-form-field>
                                    <button mat-raised-button color="accent" (click)='$onSendClick(d)'>Отправить</button>
                                </mat-tab>                                
                            </mat-tab-group>    
                        </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</section>

-->
<nb-layout>
    <nb-layout-header fixed>Оператор чата Х</nb-layout-header>
    <nb-layout-column>
        <div class="row">
            <div class="col-lg-3">
                <nb-card>
                    <chat-client-queue ($clientOpen)="$startClientChat($event)"></chat-client-queue>
                    <nb-card-footer></nb-card-footer>
                </nb-card>
            </div>
            <div class="col-lg-9" *ngIf="$discussions.length == 0">
                <nb-card>
                    <nb-card-header>Выберите клиента в очереди</nb-card-header>
                    <nb-card-body>Тут появится чат</nb-card-body>
                </nb-card>
            </div>
            <div class="col-lg-9">
                <nb-card>
                    <nb-tabset>
                        <nb-tab *ngFor="let d of $discussions" [tabTitle]="d.clientID | atob" style="padding: 1.25rem;">
                            <ul class="chat-lines" id="{{d.clientID}}">
                                <li *ngFor="let ci of d.$history" [class.chat-line-fromop]="ci.opId" [class.noack]="ci.id == null">
                                    <span *ngIf="!ci.opId" class="chat-line-avatar-op"></span>
                                    <div>
                                        <p>
                                            {{ci.text | capitalize }}
                                        </p>
                                        <span class="chat-line-time">{{ci.at | timeformat }}</span>
                                    </div>
                                </li>
                            </ul> 
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Введите текст" rows="2" 
                                    (keydown.enter)="$onSendClick(d);false" [(ngModel)]="d.$text"></textarea>
                            </div>
                            <div class="form-group pushout">
                                <button class="btn btn-warning" type="submit" (click)='$forget(d)'>Покинуть</button>
                                <button class="btn btn-success" type="submit" (click)='$onSendClick(d)'>Отправить</button>
                            </div>
                        </nb-tab>
                    </nb-tabset>
                </nb-card>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>