#op-chat-queue {
    overflow-y: auto;
    height: 95%;
}

.chat-lines {
    list-style: none;
    height: 50vh;
    overflow-y: scroll; 
    font-size: 1rem;
}

/* Shifts message to right */
.chat-lines > li.chat-line-fromop {
    justify-content: flex-end;
    margin-left: auto;
}

/* Op-avatar */
.chat-line-avatar-op {
    background-image: url('/assets/op-ava.png');
    background-size: cover;
    min-height: 2.5rem;
    min-width: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.7rem;
}

/* Message when block */
.chat-line-time {
    display: block;
    text-align: right;
    font-size: 0.65rem;
}

.pushout {
    display: flex;
    justify-content: space-between;
}

.noack {
    opacity: 0.4;
}

#op-header {    
    width:100%;
    display: flex;
    justify-content: space-between;
}

#op-header-exit {    
    display: flex;    
}

.icontext {
    margin-left: 1rem;
    cursor: pointer;
}